@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #292929;
    padding: 0px, 10px, 0, 10px;
    font-family: 'Bebas Neue';
    font-size: 25px;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: #808080;
    max-width: 85%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 40px;
}

.nav-logo-text {
    padding: 0px 0px 0px 15px;
    font-family: 'Fjalla One', sans-serif;
    color: white;
    word-spacing: 5px;
}

.nav-logo-text > h3 {
    background: linear-gradient(to right, #ffa31a00, #ffa31a);
    background-position: 0 100%;
    background-size: 100% 2px;
    background-repeat: repeat-x;
}

.nav-items {
    list-style: none;
    display: flex;
    padding-right: 10px;
}

.nav-items > li {
    padding: 0px 15px 0px 15px;
    font-size: 25px;
}

.nav-items > li > a {
    color: white;
    text-decoration: none;
}

.nav-items > li > a:hover {
    text-decoration: underline;
    text-decoration-color: #ffa31a;
}